.help-button
	%span
		Instructions
	.modal{class: 'hidden'}
		Answer the following way: People who agree with _______ (Question) 
		are much more likely than those who disagree to agree with _______ (Answer)
.emotional-form-container
	.question
	.answers
		- (1..4).each do |i|
			.answer-container
				%input{id: 'answer' + i.to_s, class: 'answer', name: 'emotional-answer', type: 'radio'}
				%label{id: 'label' + i.to_s, for: 'answer' + i.to_s}
					%span
	.button{class: 'disabled'}
		Next

= javascript_include_tag 'emotional-form'