.non-verbal-form-container
	.question-container
		.question

	.two-part-prompt{class: 'hidden'}
		.two-part-button{id: 'yes-button'}
			yes
		.two-part-button{id: 'no-button'}
			no


	.people-container{class: 'hidden'}
		%img#person0{class: 'person_container', src: 'http://d323anfiww5kx7.cloudfront.net/0.jpeg'}
		%img#person1{class: 'person_container', src: 'http://d323anfiww5kx7.cloudfront.net/1.jpeg'}
		%img#person2{class: 'person_container', src: 'http://d323anfiww5kx7.cloudfront.net/2.jpeg'}
		%img#person3{class: 'person_container', src: 'http://d323anfiww5kx7.cloudfront.net/3.jpeg'}

	.button{class: 'disabled hidden'}
		Next
= javascript_include_tag 'video-form'