.container
	.text
		%p
			This experiment will test cognition. Once you click 'Begin Experiment', please be advised that a video will start playing. This will take approximately 20 minutes to complete. Thank you in advance for your cooperation and participation.
	.button
		Begin Experiment

:javascript
	$('.button').click(function() {
		$.get('/create_user', function (response) {
			if (response['success'] == true) {
				window.location = window.location.origin + '/video/1';
			}
		})
	})
