- urls = ['http://d323anfiww5kx7.cloudfront.net/video+one+part+one+final.mp4', 'http://d323anfiww5kx7.cloudfront.net/music+prompt.mp4','http://d323anfiww5kx7.cloudfront.net/weekend+plans+final.mp4','http://d323anfiww5kx7.cloudfront.net/spring+break+final.mp4', 'http://d323anfiww5kx7.cloudfront.net/final+video.mp4']
.video-page
	.video-container
		%video{width: '1920', height: '1080', controls: false, autoplay: true}
			%source{src: urls[id.to_i - 1], type: 'video/mp4'}
	%input{class: 'hidden', autofocus: true}
	.button{class: 'disabled hidden'}
		Submit

:javascript
	$('input').keyup(function () {
		if (this.value != '') {
			$('.button').removeClass('disabled');
		} else if (this.value == '' && !$('.button').hasClass('disabled')) {
			$('.button').addClass('disabled');
		}
	});

	id = #{id}

	video = $('video')[0];

	video.onended = function () {
		if (id != '5') {
			$('input, .button').removeClass('hidden');
		} else {
			$('.button').removeClass('hidden disabled')
			$('.button').text('Continue')
		}
	}

	$('.button').click(function() {
		var data = {}
		var userResponse = $('input').val();
		var key = 'video_question_' + id;
		data[key] =  userResponse;
		$.post('/update', data, function (response) {
			if (response['success'] == true) {
				if (id == 5) {
					window.location = window.location.origin + '/social_form';
				} else {
					id += 1;
					window.location = window.location.origin + '/video/' + id;
				}
			}
		});
	});
